.tabs {
  overflow: hidden;
}
.tabs__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tabs__contentTab {
  border: 1px dotted lightgray;
  max-width: 1680px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 144px;
  padding-bottom: 144px;
}
.tabs__contentTab.tabs__contentTab_active {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
