.pagination {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.pagination__link {
  border: 1px solid var(--primary-700);
  background-color: var(--primary-300);
  color: var(--dark-500);
  border-radius: 0.25rem;
  font-family: var(--font-alt);
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  outline: none;
  transition: var(--transition);
}
.pagination__link:hover {
  background-color: var(--primary-500);
}
.pagination__button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary-700);
  background-color: var(--primary-500);
  border-radius: 0.25rem;
  line-height: 1;
  cursor: pointer;
  outline: none;
  transition: var(--transition);
}
.pagination__button:hover {
  background-color: var(--primary-700);
}
.pagination__button_disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: var(--light-300);
  border-color: var(--light-500);
}
.pagination__link_active {
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.75));
}
