.pagination {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2.8125rem;
  left: 50%;
  transform: translateX(-50%);
}
.pagination__link {
  border: 1px solid var(--dark-700);
  border-radius: 0.25rem;
  font-family: var(--font-alt);
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1;
  color: var(--dark-500);
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}
.pagination__link:last-child {
  margin-right: 0;
}
