.productInfo__container {
  position: relative;
  max-width: var(--container);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 9rem;
}
.productInfo.productInfo_vertical .productInfo__container {
  flex-direction: column;
}
.productInfo__content {
  flex: 1;
  margin-left: 4rem;
}
/*
* links to the models
*/
.linksToModels {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.5rem;
}
