.banner {
  width: 100%;
  height: 550px;
  background-image: radial-gradient(
    90% 1000% at 50% 50%,
    var(--accent-700) 0%,
    var(--accent-500) 100%
  );
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.banner_height_auto {
  height: auto;
  padding: 4rem 2rem;
}
.banner__inner {
  max-width: var(--container);
  margin: 0 auto;
}
.banner_maxWidth_960 .banner__inner {
  max-width: 960px;
}
.banner__washerExtractors {
  background-image: url('/assets/images/for_banners/banner_washerextractors.webp'),
    radial-gradient(90% 1000% at 50% 50%, #000000 0%, var(--black) 100%);
}
.banner__washerExtractors_FX {
  background-image: url('/assets/images/for_banners/banner_washerextractors_FX105.webp'),
    radial-gradient(90% 1000% at 50% 50%, #000000 0%, var(--black) 100%);
}
.banner__washerExtractors_FX350 {
  background-image: url('/assets/images/for_banners/banner_washerextractors_FX350.webp'),
    radial-gradient(90% 1000% at 50% 50%, #000000 0%, var(--black) 100%);
}
.banner__washerExtractors_FS800 {
  background-image: url('/assets/images/for_banners/banner_washerextractors_FS.webp'),
    radial-gradient(90% 1000% at 50% 50%, #000000 0%, var(--black) 100%);
  background-position: center right;
}
.banner__spareParts {
  background-image: url('/assets/images/for_banners/banner_spareparts.webp'),
    radial-gradient(
      90% 1000% at 50% 50%,
      var(--accent-700) 0%,
      var(--accent-500) 100%
    );
  background-position: center right;
  background-blend-mode: darken;
}
.banner__news {
  background-image: url('/assets/images/for_banners/banner_news.webp'),
    radial-gradient(
      90% 1000% at 50% 50%,
      var(--light-700) 0%,
      var(--dark-700) 100%
    );
  background-position: center;
  background-blend-mode: multiply;
}
.banner__customers {
  background-image: url('/assets/images/for_banners/bg_customers.webp'),
    radial-gradient(
      90% 1000% at 50% 50%,
      var(--white) 0%,
      var(--primary-300) 100%
    );
  background-position: center;
  border-top: 20px solid var(--accent-700);
  border-bottom: 20px solid var(--accent-700);
}
