.input {
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  outline: none;
  border: 0;
  border-bottom: 1px solid var(--dark-500);
  margin-bottom: 3rem;
  font-family: var(--font-base);
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--black);
}
.input_mb_1 {
  margin-bottom: 1rem;
}
.input_mb_2 {
  margin-bottom: 2rem;
}
