.inputWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}

.input {
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  outline: none;
  border: 0;
  border-bottom: 1px solid var(--light-300);
  font-family: var(--font-base);
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--black);
}
.input::placeholder {
  color: var(--dark-700);
  font-weight: 400;
  opacity: 0.35;
}
.input__outline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  background-color: var(--dark-700);
  height: 2px;
}
.input:focus + .input__outline {
  -webkit-animation: expand 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: expand 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* .input_mb_1 input {
  margin-bottom: 1rem;
}
.input_mb_2 input {
  margin-bottom: 2rem;
} */
.inputWrapper.input_mb_1 {
  margin-bottom: 1rem;
}
.inputWrapper.input_mb_2 {
  margin-bottom: 2rem;
}
.input_bg_primary_300 input {
  background-color: rgba(149, 154, 157, 0.15);
}
.input_bg_light_300 input {
  background-color: rgba(149, 154, 157, 0.15);
}
.input_bg_primary_300 input::placeholder {
  color: var(--dark-700);
  opacity: 1;
}
.input_bg_light_300 input::placeholder {
  color: var(--dark-700);
  opacity: 1;
}
.input_required_bottom_minus_1 em {
  bottom: -1rem;
}
.input_required_bottom_minus_1_5 em {
  bottom: -1.5rem;
}

@-webkit-keyframes expand {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes expand {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
