.button {
  background-color: var(--primary-500);
  border: 1px solid var(--primary-700);
  border-radius: 0.25rem;
  color: var(--dark-700);
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.3;
  outline: none;
  padding: 0.5rem 1rem;
  position: relative;
  transition: var(--transition);
  max-width: 120px;
}
.button_disabled {
  background-color: var(--light-500);
  border-color: var(--light-700);
  color: var(--light-300);
  cursor: not-allowed;
  pointer-events: none;
}
.button::after {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  content: '';
  display: block;
  inset: -1px;
  position: absolute;
  transition: var(--transition);
}

.button:hover {
  background-color: var(--primary-700);
}
.button:focus::after {
  border-color: var(--primary-700);
}
.button_disabled:focus::after {
  border-color: var(--light-700);
}
.button_center {
  margin: 0 auto;
  display: block;
}
.button_only_icon {
  padding: 0;
  line-height: 1;
}
.button_only_icon span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
