.sparePartsList {
  padding-top: 0;
  padding-bottom: 0;
}
.sparePartsList__container {
  max-width: 1680px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}
/*
* sparePartCard
*/
.sparePartCard {
  border: 1px solid var(--accent-700);
  background-image: -moz-radial-gradient(84.5% 32.91% at 50% 67.09%, #b80000 0%, #ff0000 100%);
  background-image: -webkit-radial-gradient(84.5% 32.91% at 50% 67.09%, #b80000 0%, #ff0000 100%);
  background-image: radial-gradient(84.5% 32.91% at 50% 67.09%, #b80000 0%, #ff0000 100%);
  max-width: 480px;
  position: relative;
}
.sparePartCard.sparePartCard_bg_blue {
  background-image: -moz-radial-gradient(84.69% 46.77% at 50% 53.23%, #005c74 0%, #74d2d0 100%);
  background-image: -webkit-radial-gradient(84.69% 46.77% at 50% 53.23%, #005c74 0%, #74d2d0 100%);
  background-image: radial-gradient(84.69% 46.77% at 50% 53.23%, #005c74 0%, #74d2d0 100%);
  border: 1px solid var(--dark-300);
}
.sparePartCard__image {
  background-color: var(--primary-300);
  border: 1px solid var(--accent-700);
}
.sparePartCard.sparePartCard_bg_blue .sparePartCard__image {
  border: 1px solid var(--dark-300);
}
.sparePartCard__title {
  padding: 1rem 0.5rem;
}
.sparePartCard__tags {
  display: flex;
  justify-content: center;
}
.sparePartCard__tag {
  color: var(--primary-300);
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.sparePartCard__image:hover {
  filter: brightness(0.75);
}
.sparePartCard__actions {
  position: absolute;
  bottom: -1px;
  right: -1px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sparePartCard__email {
  padding: 0.375rem 0.6875rem;
  background-color: var(--primary-300);
  border: 1px solid var(--primary-700);
  border-top-left-radius: 0.5rem;
  position: relative;
  right: -1px;
}
.sparePartCard__allegro {
  padding: 0.375rem 0.6875rem;
  background-color: var(--primary-500);
  border: 1px solid var(--primary-700);
}
