.toggleViewedPassword {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .toggleViewedPassword:hover {
    filter: contrast(0.45);
  }