.copyright {
  font-family: var(--font-alt);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--dark-500);
  padding-bottom: 2rem;
  padding-top: 2rem;
  grid-column: 1/4;
  grid-row: 2/3;
  margin-top: 112px;
  max-width: var(--container);
  margin: 0 auto;
}
.copyright_admin {
  padding: 0.5rem;
  font-size: 0.75rem;
  font-family: var(--font-base);
  width: 100%;
  max-width: initial;
  background-color: var(--dark-700);
  color: var(--primary-300);
}
