.postItemCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 420px;
  margin-bottom: 2rem;
}
.postItemCard__image {
  width: 100%;
  height: 270px;
  margin-bottom: 1rem;
}
.postItemCard__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.postItemCard__date {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.postItemCard__content {
  padding-bottom: 2rem;
  flex-grow: 1;
}
.postItemCard_padding_side {
  padding-left: 1rem;
  padding-right: 1rem;
}
.postItemCard__tags {
  font-family: var(--font-base);
  font-size: 0.75rem;
}
.postItemCard__tag {
  font-family: var(--font-alt);
  color: var(--accent-700);
  font-size: 0.875rem;
  margin-left: 0.5rem;
}
