.mainNavigation {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.mainNavigation__item {
  flex-grow: 1;
  position: relative;
  z-index: 1;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mainNavigation__link {
  font-family: var(--font-alt);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--dark-700);
  display: block;
  text-align: center;
  outline: none;
  position: relative;
  padding: 0.5rem 0.25rem;
}

.mainNavigation__link::after {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  content: '';
  display: block;
  inset: 0px;
  position: absolute;
  transition: var(--transition);
}

.mainNavigation__link:focus::after {
  border-color: var(--accent-700);
}

.mainNavigation__item:hover ul {
  display: block;
}


