.list__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.list__item span:first-child {
  flex-shrink: 0;
}
.list__content {
  font-family: var(--font-base);
  font-size: 1.5rem;
  line-height: 1.75;
  letter-spacing: -0.02em;
  color: var(--dark-500);
  margin-left: 1rem;
}
.list.list_decorative .list__content {
  font-family: var(--font-decorative);
  font-size: 3rem;
  line-height: 1;
}
.list.list_decorative .list__item {
  margin-bottom: 0.5rem;
}
.list.list_light .list__content {
  color: var(--primary-300);
}
.list_mb_3 .list__item {
  margin-bottom: 3rem;
}
.list_mb_05 .list__item {
  margin-bottom: 0.5rem;
}
.list_mt_1 {
  margin-top: 1rem;
}
.list_mb_2 {
  margin-bottom: 2rem;
}
.list_mb_1 {
  margin-bottom: 1rem;
}
.list.list_small span {
  display: block;
  width: 24px !important;
  height: 24px !important;
}
.list.list_small span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.list.list_small .list__content {
  font-size: 1.2rem;
  line-height: 1.5;
}
.list.list_lowercase .list__content {
  text-transform: lowercase;
  font-weight: 400;
}
