.contentTab {
  max-width: 1680px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 144px;
  padding-bottom: 144px;
}
.contentTab.contentTab_productData {
  max-width: var(--container);
  display: none;
}
.contentTab.contentTab_active {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.contentTab.contentTab_productData.contentTab_active {
  display: flex;
  -webkit-animation: slide-up 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-up 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-up {
  0% {
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
