.subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 420px;
  margin-bottom: 2rem;
}
.subtitle__ball {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--accent-500);
  flex-shrink: 0;
}
.subtitle__ball_dark .subtitle__ball {
  background-color: var(--dark-700);
}
.subtitle__content {
  letter-spacing: -0.02em;
  font-family: var(--font-alt);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1;
  margin-left: 1rem;
}
.subtitle_light_500 p {
  color: var(--primary-300);
}
.subtitle_max_width_100 {
  max-width: 100%;
}
.subtitle_max_width_640 {
  max-width: 640px;
}
.subtitle_max_width_480 {
  max-width: 480px;
}
.subtitle_max_width_760 {
  max-width: 760px;
}
.subtitle_max_width_960 {
  max-width: 960px;
}
.subtitle_small {
  margin-bottom: 1rem;
}
.subtitle_small .subtitle__ball {
  width: 1rem;
  height: 1rem;
}
.subtitle_small .subtitle__content {
  margin-left: 0.5rem;
  font-size: 0.85rem;
  font-family: var(--font-base);
  color: var(--dark-700);
}
