.logo {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  outline: none;
  position: relative;
}
.logo::after {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  content: '';
  display: block;
  inset: 0px;
  position: absolute;
  transition: var(--transition);
}
.logo:focus::after {
  border-color: var(--accent-700);
}

.logo_admin {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 0 auto;
  border-radius: 0.25rem;
}
.logo_mb_2 {
  margin-bottom: 2rem;
}

.logo_center {
  width: 100%;
  text-align: center;
}
.logo_mb_1 {
  margin-bottom: 1rem;
}
