.ourLaundries {
  width: 100%;
  max-width: 760px;
}

.ourLaundries__description {
  width: 100%;
  resize: none;
  padding: 1rem;
}
.ourLaundries__description::placeholder {
  font-family: var(--font-base);
  font-size: 1.125rem;
  color: var(--dark-700);
  opacity: 0.35;
}
.ourLaundries__dates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.ourLaundries__equipmentsSection {
  border: 1px solid var(--light-300);
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
