.contactData {
  position: relative;
}
.contactData__container {
  max-width: var(--container);
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: auto;
  position: relative;
  z-index: 1;
}
.contactData__header {
  max-width: var(--container);
  margin: 0 auto;
  padding-bottom: 4.5rem;
  position: relative;
  z-index: 1;
}
.contactData__item {
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.35);
  padding: 1rem 0;
  border-radius: 0.125rem;
  background-color: rgba(240, 250, 250, 0.75);
}
.contactData__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}
.contactData__image {
  margin-left: 1rem;
}
.contactData__content {
  flex-grow: 1;
}
.contactData__footer {
  padding-top: 0;
  padding-bottom: 0;
}
.contactData__company {
  padding-top: 4.5rem;
  max-width: var(--container);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.contactData__companyName {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--dark-700);
  text-transform: uppercase;
  /* max-width: 480px; */
}
.contactData__companyAddress {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--dark-500);
}
.contactData__details {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactData__detailsName {
  font-family: var(--font-alt);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--dark-700);
  display: inline-block;
}
.contactData__detailsValue {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--dark-500);
  margin-left: 0.5rem;
}
