.description {
  font-weight: 400;
  line-height: 1.75;
  font-size: 1.375rem;
  margin-bottom: 1rem;
  max-width: 640px;
}
.description_18 {
  font-size: 1.125rem;
}
.description_light_500 {
  color: var(--primary-300);
}
.description_mb_2 {
  margin-bottom: 2rem;
}
.description_maxWidth_640 {
  max-width: 640px;
}
.description_maxWidth_760 {
  max-width: 760px;
}
.description_maxWidth_960 {
  max-width: 960px;
}
