.modernLaundryEquipment {
  /* padding-top: 0; */
}
.modernLaundryEquipment__header {
  max-width: var(--container);
  margin: 0 auto;
  margin-bottom: 144px;
}
.modernLaundryEquipment__equipments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
