.modernLaundryEquipment__header {
  max-width: var(--container);
  margin: 0 auto;
  margin-bottom: 144px;
}
.modernLaundryEquipment__equipments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.modernLaundryEquipment_bg_primary {
  background-color: rgba(168, 227, 226, 0.15);
}
