.scrollButton {
  background-color: var(--white);
  border: none;
  border-radius: 0.25rem;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.625rem;
  position: fixed;
  z-index:100;
  right: 2rem;
  transition: var(--transition);
}
.scrollButton__text {
  font-family: var(--font-alt);
  font-weight: 800;
  font-size: 0.75rem;
  line-height: 1.3;
  color: var(--dark-500);
  margin-top: 0.25rem;
}
.scrollButton_down {
  top: 5rem;
}
.scrollButton_up {
  bottom: 2rem;
}
.scrollButton:hover {
  background-color: var(--primary-700);
}
.scrollButton::after {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  content: '';
  display: block;
  inset: 0;
  position: absolute;
  transition: var(--transition);
}
.scrollButton:focus::after {
  border-color: var(--primary-700);
}
